<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CCP Concordance</title>
    <!-- Bootstrap -->
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/ccp.css" rel="stylesheet">
  </head>
  <body>
    <div class="marginalizer"></div>
    <div class="container-fluid">
      <div class="input-group">
        <input id="keyword" name="keyword" type="text" class="form-control" value="">
        <span class="input-group-btn">
          <button id="button" class="btn btn-primary" type="submit">Go!</button>
        </span>
      </div>
      <!-- /input-group -->
      <div id="output" class="output">
        {{output}}
      </div>
      <div id="pagination" class="pagination"></div>
    </div>
    <div class="marginalizer"></div>
  </body>
<script type="text/javascript" src="static/spin.min.js"></script>
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/ccp.js"></script>
</html>