<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                联合国语料
            </h1>

            <form method="POST">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input name="es" class="input is-info" type="text" placeholder="Español">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-info is-outlined">🇪🇸</button>
                    </div>
                </div>

                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input name="zh" class="input is-danger" type="text" placeholder="中文">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-danger is-outlined">🇨🇳</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>

</html>